.stats{

padding:80px 8%;

background:#101010;

color:#fff;

}

.stat-card{

background:#181818;

padding:40px;

text-align:center;

border-radius:18px;

transition:.3s;

}

.stat-card:hover{

transform:translateY(-8px);

}

.icon{

font-size:45px;

margin-bottom:20px;

color:#2f67ff;

}

.stat-card h2{

font-size:38px;

font-weight:700;

margin-bottom:10px;

}

.stat-card p{

margin:0;

color:#aaa;

}