.dashboard-title {
  margin-bottom: 30px;
  font-size: 30px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card-box {
  background: white;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: .3s;
}

.card-box:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 42px;
  color: #2563eb;
  margin-bottom: 15px;
}

.card-box h3 {
  margin: 10px 0;
  font-size: 30px;
}

.card-box p {
  color: gray;
}